* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

/* h1, h2 {
    font-family: "Shrikhand", cursive;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  ---------
    Header 
    ---------
*/

header {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    background-color: #efefef;
    /* margin-bottom: 2rem; */
}

ul {
    display: flex;
}

li {
    margin-right: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

header li:hover {
    color: #ff7a00;
}
/*  ---------
    BANNIERE 
    ---------
*/

.banniere-image {
    height: 698px;
    background-image: url(image/banniere.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    /* color: #e44e18; */
    /* text-shadow: black -1px 4px 3px; */
}

.btn-banniere {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    background: #ff7a00;
    box-shadow: -1px 5px 8px black;
}

/*  ---------
    Section Carte 
    ---------
*/

.carte-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.carte {
    width: 350px;
    margin: 0 1rem 2rem;
    box-shadow: 0 6px 12px black;
}

.carte-image {
    width: 100%;
    object-fit: cover;

}

.carte-info {
    text-align: center;
    padding: 1rem 0.5rem;
}

.carte-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.carte-info p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/*  ---------
    Section Choix 
    ---------
*/

.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.choix-detail {
    width: 400px;
    margin-right: 2rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

.choix-detail h2 {
    margin-bottom: 1rem;
}

/*  ---------
    Footer 
    ---------
*/

footer {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin-bottom: 1rem;
}